<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Pa pa ra pum... Welcome!</h1>

        <p>Hello lovely learner, you are here to kick-start your knowledge. 
            I am so happy to take you further on this journey. 
            So, the very first thing is <a th:href="@{/register}">Register</a> for a login account. 
            Already have an account then please <a th:href="@{/login}">Login</a>.
            Once you are in, then the fun starts... 
            Happy Learning!!!!
            </p>
    </body>
</html>