<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Adaptive Quiz: Register</title>
    </head>
    <body>
        <h1>Pa pa ra pum... Welcome!</h1>

        <p>Hello lovely learner, you are here to test your knowledge.
            The very first thing is <a th:href="@{/register}">Register</a> to get things started.
            Once you are in, then the fun starts...
            Happy Learning!!!!
            </p>
    </body>
</html>