<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <title>Adaptive Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">A Level Quiz</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="${'/home'}" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="${'/v1/quiz/results'}" aria-current="page">Results</a>
                    </li>

                </ul>
                <form class="d-flex" role="search" th:action="@{/logout}">
                    <div class="p2">
                        <h3> <span class="badge badge-secondary" sec:authentication="name"/></h3>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-10">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-12 p-3">
                    <div class="row">
                        <div class="col-10 border border-primary-subtle rounded-pill">
                            <h4>Subject: <label th:text="${question.subject}"/></h4>
                            <h4>Topic: <label th:text="${question.topic}"/></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-12 p-3">
                    <form th:id="queryForm" th:name="queryForm" method="post">
                        <h3><label th:text="${question.question}"/></h3>
                        <ul class="list-group">
                            <li class="list-group-item" th:each="choice : ${question.choices}">
                                <input class="form-check-input me-1"
                                       th:disabled="true"
                                       type="radio" th:value="${choice.id}" name="quizItem"
                                       th:checked="${choice.isSelected() == true}">
                                <label class="form-check-label" th:text="${choice.data}"/>
                            </li>
                        </ul>
                        <input th:type="hidden" th:name="actualQuizId" th:value="${question.actualQuizId}"/>
                        <input th:type="hidden" th:name="quizId" th:value="${question.quizId}"/>
                        <input th:type="hidden" th:name="questionId" th:value="${question.questionId}"/>
                        <input th:type="hidden" th:name="currentIndex" th:value="${question.uiIndex}"/>
                        <input th:type="hidden" th:name="previousIndex" th:value="${previousIndex}"/>
                        <input th:type="hidden" th:name="nextIndex" th:value="${nextIndex}"/>
                        <div>
                            <h5><label class="" th:text="${answer_status}"/></h5>
                        </div>
                        <div>
                            <input class="btn btn-primary" th:type="button" th:value="Previous"
                                   th:onclick="previousQuery()"
                                   th:disabled="${previousIndex < 0}"/>
                            <input class="btn btn-primary" th:type="button" th:value="Next"
                                   th:onclick="nextQuery()"
                                   th:disabled="${nextIndex < 0}"/>
                        </div>
                        <div class="alert alert-success" role="alert" th:if="${answerStatus==1}">
                            Answer correct!
                        </div>
                        <div class="alert alert-danger" role="alert" th:if="${answerStatus==0}">>
                            Answer incorrect!
                        </div>

                        <script th:inline="javascript">

                            function previousQuery() {
                                document.getElementById("queryForm").action = "/v1/review/quiz/prevQuery";
                                document.getElementById("queryForm").submit();
                            }

                            function nextQuery() {
                                document.getElementById("queryForm").action = "/v1/review/quiz/nextQuery";
                                document.getElementById("queryForm").submit();
                            }

                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Designed and Developed by: Prithika Kavitha Siva</a>
        </div>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>